body {
    background: url(./assets/background.jpg);
    font-family: 'Trebuchet MS';
    text-align: justify;
    color: white;
    font-size: 16px;
    margin: 20px;
    padding: 0;
}

a {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}

h1 {
    color: #FF6633;
}

h2 {
    color: #FF6633;
}

li {
    padding: 0 0 10px 0;
}

.subtitulo {
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.glossario {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

.glossario li {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#FF6633;
    margin: 0 4px;
    padding: 0;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}

.glossario li a {
    font-size: 14px;
}

.glossario li:hover {
    background-color: #0056B3;
    color: white;
    border-radius: 10px;
}

#container-botoes {
    padding-top: 0;
}

.ul-style-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.ul-style-2 li {
    height: 30px;
    width: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
    padding: 0;
    border-radius: 10px;
    background: #FF6633;
    transition: background 0.2s;
    text-align: center;
    font-weight: 200;
}

.ul-style-2 li a {
    text-decoration: none;
    font-size: 14px;
    color: #DEE6E9;
}

.ul-style-2 li:hover {
    background: #0056B3;
    border-radius: 10px;
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 0;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: #2D2C2F;
}

footer {
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
}

h3 {
    color: #ffd000;
}

h4 {
    color: #ffffff;
}

h5 {
    color: #45A049;
}

h6 {
    color: #0056B3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}